@media only screen and (min-width: 360px) {
    .card {
        width: 100%;
    }
    .card .content .column h1 {
        height: 40px;
        font-size: 2rem !important;
    }
    .card .content .column h3 {
        height: 40px;
        font-size: 1rem !important;
    }  
    .card .content .column h4 {
        height: 5px;
        font-size: 0.9rem !important;
    }
    .card .content .column h5 {
        height: 40px;
        font-size: 0.8rem !important;
    }       
}

@media only screen and (min-width: 540px) {
    .card {
        width: 570px;
        height: 280px;      
    }
    .card .content .column h1 {
        height: 70px;
        font-size: 3rem !important;
    }
    .card .content .column h3 {
        height: 70px;
        font-size: 1.5rem !important;
    }
    .card .content .column h4 {
        height: 10px;
        font-size: 1.2rem !important;
    }
    .card .content .column h5 {
        height: 70px;
        font-size: 1rem !important;
    }    
}

.card {
    position: relative;
    min-width: 320px;
    display:inline-block;
    margin: 0 10px 10px 0;
    background: rgb(245, 244, 244);
    padding: 0 20px 0 20px;
    border-radius: 3px;
}

.card.fill {
    padding: 0px;
}

.card .content {
    display:flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.card .content.secondary {
    padding: 0 5px 0 5px;
}

.card .content .column {
    flex-grow: 1;
}

.card .row {
    display: block;
    margin-bottom: 5px;
}

.card .content .column h1 {
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
    height: 70px;
    width: 100%;    
}   

.card .content .column h3 {
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
    height: 70px;
    width: 100%;    
}   

.card .footer {
    display: block;
    font-size: 0.7rem;
    position: absolute;
    margin-top: 5px;
    bottom: 0px
}

.alert-success {
    color: #3c763d
}

.alert-info {
    color: #31708f
}

.alert-warn {
    color: #8a6d3b
}

.alert-danger {
    color: #a94442
}

a {
    color: black;
    text-decoration: none;
}

